body {
    margin: 0;
    height: 200%;
}



/* header */

#container_head {
    background-color: blue;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    background-color: beige;
    height: 18px;
    width: 100px;
    text-align: center;
    border-color: black;
    border-style:dashed;

}

.link {
    background-color: rgb(248, 215, 174);
    height: 18px;
    width: 250px;
    text-align: center;
    border-color: black;
    border-style:dashed;
}

.login {
    background-color: bisque;
    height: 18px;
    width: 100px;
    text-align: center;
    border-color: black;
    border-style:dashed;
}

main {
    display: flex;
    flex-direction: column;

}

/* first_container_main */

#first_container {
    background-color: white;
    height:  250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.img_1{
    background-color: rgb(248, 174, 244);
    height: 200px;
    width: 350px;
    text-align: center;
    border-color: black;
    border-style:dashed;
    margin: 10px 0 ;

}

.text_1{
}

/* second container */

#second_container {
    background-color: #D3D3D3;
    height:  180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img_2{
    background-color: rgb(247, 248, 174);
    height: 150px;
    width: 300px;
    text-align: center;
    border-color: black;
    border-style:dashed;
    margin: 10px 0 ;
}

.text_2{
    background-color: rgb(248, 185, 174);
    height: 150px;
    width: 150px;
    text-align: center;
    border-color: black;
    border-style:dashed;
}

/* third container */

#third_container {
    background-color: white);
    height: 180px;
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    justify-content: center;
}
.img_3{
    background-color: rgb(247, 248, 174);
    height: 150px;
    width: 300px;
    text-align: center;
    border-color: black;
    border-style:dashed;
    margin: 10px 0 ;
}


.text_3{
    background-color: rgb(248, 185, 174);
    height: 150px;
    width: 150px;
    text-align: center;
    border-color: black;
    border-style:dashed;
    margin: 10px 0 ;
}


/* fourth container */

#fourth_container {
    background-color: #D3D3D3;
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.img_4{
    background-color: rgb(247, 248, 174);
    height: 150px;
    width: 300px;
    text-align: center;
    border-color: black;
    border-style:dashed;
    margin: 10px 0 ;
}


.text_4{
    background-color: rgb(248, 185, 174);
    height: 150px;
    width: 150px;
    text-align: center;
    border-color: black;
    border-style:dashed;
    margin: 10px 0 ;
}

#fifth_container{
    background-color: #ffffff;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_5{
    background-color: rgb(174, 248, 226);
    height: 150px;
    width: 300px;
    text-align: center;
    border-color: black;
    border-style:dashed;
    margin-top: 10px;
    margin-bottom: 10px;
}

#container_foot {
    background-color: rgb(0, 0, 0);
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.text_6{
    background-color: pink;
    height: 30px;
    width: 50px;
}
.text_7{
    background-color: pink;
    height: 30px;
    width: 50px;
}
.text_8{
    background-color: pink;
    height: 30px;
    width: 50px;
}
.text_9{
    background-color: pink;
    height: 30px;
    width: 50px;
}
.text_10{
    background-color: pink;
    height: 30px;
    width: 50px;
}